<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script>
		/*var app = angular.module('myApp', []);
		console.log(app);
		app.controller('myCtrl', function($scope) {
			console.log($scope);
		    $scope.firstName= "Katie";
		    $scope.lastName= "Lee";
		});*/
	</script>
</head>
<body>
	<p>尝试修改以下表单:</p>

	<!-- <div ng-app="myApp" ng-controller="myCtrl">
		名: <input type="text" ng-model="firstName"><br>
		姓: <input type="text" ng-model="lastName"><br>
		<br>
		姓名: {{firstName + " " + lastName}}
	</div> -->

	<div ng-app="" np-init="quility=1;count=5">
		<!-- <p>单价：<span ng-bind="quility"></span></p>
		<p>数量：<span ng-bind="count"></span></p> -->
		<p>总价：<span ng-bind="quility*count"></span></p>
	</div>
	<!-- <script type="text/javascript" src="js/angular.min.js"></script> -->
</body>
</html>